.cabecera{
 text-align: center; 
 margin-top: 1%;
 margin-bottom: 2%;
}

nav{
    width:800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    font-family:alegreya-bold;
   
    font-size:25px;
  }
.nav-item{
    font-size: larger;


}

.foto{
    margin: 2%; 
    text-align: center;
}

.btn {
    
    padding: 1em 1.5em;
    font-weight: 700;
   
      font-size: x-large;
    margin-left: 7%;
    border: solid #000f9f;
 }

.btn:focus {
    background-color: white;
    color: #000f9f;
    border-color:  #000f9f;
}


.texto{
    margin-top: 4%;
  font-size: x-large;
 
} 

.nav-link{
    color: Blue! important ; 
   
}
